@import "../abstracts/mixins"; 
$color-primary: #F6F1F1; 
$color-text: #867070; 
$color-secondary: #E4D0D0; 
$color-tertiary: #F5EBEB; 

*, 
*::after, 
*::before {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth; 

}

body {
    padding: 3rem; 
    background-color: $color-secondary; 

    @include respond(tab-land){
        padding: 3rem 0; 
    }

}

.background {
    background-color: $color-tertiary; 
    width: 100%; 
    height: 90%; 
}